<h2> Python - 4 Mutable Data Structures | Lists

<p><strong>Hello! Everyone, Welcome to Python Tutorial 4</strong> In this video we will discuss about what is Mutable objects in python and we discuss in deatil about one of the mutable data structure List </p>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
                <li>4.1. Creating Lists</li>
                <li>4.2. Mutable Objects in python</li>
                <li>4.3. Shallow and deep copy</li>
                <li>4.4. Indexing and Slicing </li>
    <li>4.5. Methods and functions </li></ul>
 
</div>

## 4. Lists

- In Python list is a data structure that contains ordered sequence of elements which can be changeable. Elements can be different objects such as integers, strings, tuples and other lists.
- Each value inside the list is called an element. 

 - Strings are characters between quotes ""

 - Tuples are values between paranthesis ().

 - Lists are values between square brackets [].

### 4.1. Creating Lists

In [53]:
# Creating an empty list
emptyList = []
print(emptyList)
print(type(emptyList))

[]
<class 'list'>

In [1]:
# Creating a list with elements
newList = ["movie1", 8.1, 1982]
newList

['movie1', 8.1, 1982]

In [56]:
print(len(emptyList))
print(len(newList))

0
3

<h4>List Content</h3>

Lists can contain strings, floats, and integers. We can nest other lists, tuples and other data structures.

In [59]:
# Sample List
mixedList = ["somestring", 10.1, 1982, [1, 2], ("A", 1)]
print(mixedList)
print(len(mixedList))

['somestring', 10.1, 1982, [1, 2], ('A', 1)]
5

In [60]:
numList = [7, 2, 5, 4, 1, 6, 3, 0]
print(numList)
len(numList)

[7, 2, 5, 4, 1, 6, 3, 0]

8

In [2]:
# Comparing lists
a = [1,2,3]
b = [1,2,3]
print(a == b) 
print(id(a))
print(id(b))

True
2727031956296
2727031947016

As list is a ordered sequence here order matters. let's see the result of comparision if we change the order of element

In [63]:
c = [2,1,3]
print(a == c)

False

<h3 >4.2. Mutable Objects in Python</h2>

In the previous tutorial We already discussed that
- Every variable in python is instance of an object.

- Objects whose value cannot be changed once created are called immutable Objects. 
 - Example :- Data types like int, float, bool, string, tuple.

- An object whose value can be changed once created are called mutable Objects. 
 - Example :- list, dict, set .

Also In the previous tutorial we discussed about immutability using strings and tuples.   
 
Let us understand more on mutability using lists.

#### Mutability of Lists

Lists are mutable, Which means we can update the elements of lists.

In [268]:
a = [1,2,3, 4, 5]
print(a)
print(id(a))

[1, 2, 3, 4, 5]
1764162937672

In [269]:
a[1] = "apple"
print(a)
print(id(a))

[1, 'apple', 3, 4, 5]
1764162937672

Value changed but id remains same .. ie) the same object is being updated which is called mutability. This we cannot do it in other ordered sequences like tuples and strings as they are immutable.

<h3 id="co">4.3. Shallow copy and Deep Copy of lists</h3>

In [270]:
# copy by reference 
# Using assignment operator
A = ["apple", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['apple', 10, 1.2]
B: ['apple', 10, 1.2]

<img src="copyByReference.png" width="1000" align="center">

Initially, the value of the first element in <b>B</b> is set as apple. If we change the first element in <b>A</b> to <b>banana</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get banana instead of apple.

In [271]:
A[0] = "banana"
print(A)
print(B)

['banana', 10, 1.2]
['banana', 10, 1.2]

In [272]:
#if we the check id, we will come to understand that both are 
#refering to same object
print(id(A))
print(id(B))

1764162615304
1764162615304

So with mutable objects we cannot use assignment operator, because if we modify one object it will affect the other. 

Assignment statements in Python do not copy objects, they create bindings between a target and an object. 

For collections that are mutable or contain mutable items, a copy is sometimes needed so that we can change the copy without changing the original object.

#### Shallow copy 

- Using copy.copy()
- Using list.copy()
- Using slicing

In [273]:
#copy.copy() 
import copy
A = ["apple", 10, 1.2]
B = copy.copy(A)
print(B)

['apple', 10, 1.2]

In [274]:
A[0] = "orange"
print(A)
print(B)

['orange', 10, 1.2]
['apple', 10, 1.2]

In [275]:
#list.copy()
A = ["apple", 10, 1.2]
B = A.copy()
print(B)

['apple', 10, 1.2]

In [276]:
A[0] = "orange"
print(A)
print(B)

['orange', 10, 1.2]
['apple', 10, 1.2]

In [277]:
# using slicing
A = ["apple", 10, 1.2]
B = A[:]
A[0] = "banana"
print(A)
print(B)
print(id(A))
print(id(B))

['banana', 10, 1.2]
['apple', 10, 1.2]
1764162985736
1764162934792

 Variable **B** references a new copy or clone of the original list, Now if we change <b>A</b>, <b>B</b> will not change:

<img src="copyByValuer.png" width="1000" />

A shallow copy means if we modify any of the nested list elements, changes are reflected in both the list as they point to the same reference.

In [263]:
#changes in nested elements are reflected
A = ["apple", 10, 1.2, [1,2,3,4]]
B = A[:]
A[0] = "banana"
A[3][0] = 100
print(A)
print(B)
print(id(A))
print(id(B))

['banana', 10, 1.2, [100, 2, 3, 4]]
['apple', 10, 1.2, [100, 2, 3, 4]]
1764162839048
1764161867336

Here we should use copy.deepcopy() from the copy module to avoid this problem.

#### Deep copy 

- Using copy.deepcopy()

In [250]:
#changes in nested elements are not reflected
A = ["apple", 10, 1.2, [1,2,3,4]]
B = copy.deepcopy(A)
A[0] = "banana"
A[3][0] = 100
print(A)
print(B)

['banana', 10, 1.2, [100, 2, 3, 4]]
['apple', 10, 1.2, [1, 2, 3, 4]]

<h3 id="op">4.4. Indexing and Slicing</h3>

#### Indexing

Like tuples, lists are also ordered sequence. Each element in a list can be accessed using an index.

Indexing for other Sequential Types
Read-only indexing operations work perfectly well for all sequential types. But assignment and deletion operations are not applicable to immutable sequential types.

#### Accessing individual elements of list.

In [278]:
#            0   1   2   3         4
mixedList = [1, 1.4, 3, True, "Data Science"]
#           -5  -4   -3  -2       -1

# Printing 4th element ie) element at index 3

print(mixedList[3])

True

#### negative indexing

In [98]:
print(mixedList[-2])

True

#### Locate an element

In [104]:
sub = mixedList.index("Data Science") 
#searches from the beginnig of the list and returns the index
print(sub)

4

As we already discussed about indexing and slicing in detail with strings in Tutorial 2, i dont go in detail here. Please check the link in the description box to know more on indexing.

#### Slicing
Indexing allows us to access/change/delete only a single element of a list.

To get a sublist of the list, Or if we want to update a set of elements at once, we use slicing.

In [32]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [38]:
# List slicing
#start index 3 and slice upto 5 but not 5.
L[3:5]

['MJ', 1]

In [279]:
#      0  1  2  3  4  5  6  7
nl = [0, 1, 1, 2, 3, 5, 8, 13]
#     -1 -2 -3 -4 -5 -6 -7  -8

In [47]:
l1 = nl[2:6]
print(l1)

[1, 2, 3, 5]

In [48]:
l2 = nl[5:]
print(l2)

[5, 8, 13]

In [49]:
l3 = nl[-6:-2]
print(l3)

[1, 2, 3, 5]

In [280]:
l4 = nl[5:20]
print(l4)

[5, 8, 13]

In [281]:
print(nl[20])

IndexError: list index out of range

As we already discussed about indexing and slicing in detail with strings in Tutorial 2, i dont go in detail here. Please check the link in the description box to know more on indexing.

<h3 id="op">4.5. Methods and functions</h3>

#### Extend

We can use the method <code>extend</code> to add new elements to the list:

In [282]:
a = [1,2,3]
b = ['Hyderabad', 'Mumbai', 'Delhi', 'Bengaluru']
a.extend(b)
print(a)
print(b)

[1, 2, 3, 'Hyderabad', 'Mumbai', 'Delhi', 'Bengaluru']
['Hyderabad', 'Mumbai', 'Delhi', 'Bengaluru']

In [283]:
lst = [ "apple", 10.2]
lst.extend(['red', 10])
lst

['apple', 10.2, 'red', 10]

In [284]:
#extend tuple
lst = [ "apple", 10.2]
tup = ("10", "20", "30")
lst.extend(tup)
print(lst)

['apple', 10.2, '10', '20', '30']

In [204]:
# Extend a list using 'slicing'  
  a =[10, 12, 13, 17]  
print(a)   
# add 1 element 
a[:0] = [30] 
print(a)   
# add two elements 
a[:0] = [40, 50] 
print(a)

[10, 12, 13, 17]
[30, 10, 12, 13, 17]
[40, 50, 30, 10, 12, 13, 17]

In [205]:
#let us understand how slice works in index 4
print(a)
a[:4] = [3000, 4000] 
print(a)

[40, 50, 30, 10, 12, 13, 17]
[3000, 4000, 12, 13, 17]

In [206]:
# Extend a list using '+'  
a = [1,2,3]
b = ['a','b','c']
print(a)
print(b)
c = a + b
print(c)

[1, 2, 3]
['a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']

In [207]:
a += b
print(a)

[1, 2, 3, 'a', 'b', 'c']

In [188]:
#extend string
a = [1, 2, 3]
a.extend('abcd')
print(a)

[1, 2, 3, 'a', 'b', 'c', 'd']

#### Append

In [ ]:
# we can also use append to add element to a alist

In [168]:
# Adding elements to the list
fruits = []
fruits.append("apple") # 0
fruits.append("orange") # 1
fruits.append(10)
print(fruits)

['apple', 'orange', 10]

In [189]:
# appending a list of elements

L = [ "apple", 10.2]
L.append(['red', 10])
L

['apple', 10.2, ['red', 10]]

In [190]:
# appending a tuple
L = [ "apple", 10.2]
tup = ("10", "20", "30")
L.append(tup)
print(L)

['apple', 10.2, ('10', '20', '30')]

The new list/tuple appended as one element contains nested list where as in extend it is added along with other elemets.

#### Insert

In [124]:
fruits = ["apple", "orange"]

In [125]:
# Inserting elements with index
fruits.insert(1, "mango")
print(fruits)

['apple', 'mango', 'orange']

In [126]:
# Add an element at location one before the last one
fruits.insert(len(fruits)-1, "banana")
print(fruits)

['apple', 'mango', 'banana', 'orange']

In [127]:
# Insert an element at the end
fruits.insert(len(fruits), "kiwi")
print(fruits)

['apple', 'mango', 'banana', 'orange', 'kiwi']

In [129]:
# Checking if any element exists in the list
print("mango" in fruits)
print("mango" not in fruits)

True
False

#### Updating elements

In [130]:
# we already discussed that we can change the elements of list.

In [146]:
A = ["apple", 10, 1.2]
print(A)

['apple', 10, 1.2]

In [147]:
A[0] = 'Orange'
print(A)

['Orange', 10, 1.2]

#### Delete

 We can also delete an element of a list using the <code>del</code> command:

In [149]:
# Delete the element based on the index
A = ["apple", 10, 1.2]
print(A)
del(A[0])
print(A)

['apple', 10, 1.2]
[10, 1.2]

#### Remove

In [154]:
# Removing elments from the list
fruits = ["apple", "orange", "mango"]
fruits.remove("orange")
print(fruits)

['apple', 'mango']

#### Pop

In [285]:
# Removing elements using pop()
# removes elements at a particular index
# here we can get the popped element
fruits = ["apple", "orange", "mango"]
x = fruits.pop(len(fruits)-1)
print("Fruit popped is ", x)
print(fruits)

Fruit popped is  mango
['apple', 'orange']

#### Removing an element using del statement

In [157]:
fruits = ["apple", "orange", "mango"]
del fruits[1]
print(fruits)

['apple', 'mango']

#### String to list

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> converts every word separated by a space into an element in a list:

In [158]:
# Split the string, default is by space

'data science'.split()

['data', 'science']

We can use the split function to separate strings on a specific character.

We pass the character we would like to split on into the argument, in this case is a comma.  

The result is a list.

In [162]:
# Split the string by comma

'A,B,C,D ererer'.split(',')

['A', 'B', 'C', 'D ererer']

#### Sorted function

In [208]:
list = ["red", "green", "blue", "orange"]
tuple = (1, 10, 50, 60, 20, 40, 17)
string = "abcdnduhkjljsdqrtcfgv"

In [209]:
s1 = sorted(list)
s2 = sorted(tuple)
s3 = sorted(string)
print(s1)
print(s2)
print(s3)

['blue', 'green', 'orange', 'red']
[1, 10, 17, 20, 40, 50, 60]
['a', 'b', 'c', 'c', 'd', 'd', 'd', 'f', 'g', 'h', 'j', 'j', 'k', 'l', 'n', 'q', 'r', 's', 't', 'u', 'v']

#### Sort method

In [215]:
#sorting elements of a list
b = ['s', 't', 'f', 'n']
b.sort() # By default ascending order
print(b)

['f', 'n', 's', 't']

In [216]:
b.sort(reverse=True)
print(b)

['t', 's', 'n', 'f']

In [217]:
# reverse() funcion reverses the orignal order, if the list is in a particular order
c = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
c.reverse()
print(c)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### min, max, sum functions

In [27]:
s1 = min(list)
s2 = min(tuple)
s3 = min(string)
print(s1)
print(s2)
print(s3)

blue
1
a

In [30]:
s1 = max(list)
s2 = max(tuple)
s3 = max(string)
print(s1)
print(s2)
print(s3)

red
60
v

In [32]:
#s1 = sum(list)
s2 = sum(tuple)
#s3 = sum(string)
#print(s1)
print(s2)
#print(s3)

198

#### Immutable elements in list

Like tuple, list can contain another list, tuple as well as other data types. We discussed about nested tuples in last video, same applicable to list too

We know lists are changabl;e, However, immutable elements like tuples and strings in the list cannot be changed.

Let us understand with exapmles.

In [252]:
myList = [10, 12.5, "data", (2,4,6), True] 
#list with diff data
myList

[10, 12.5, 'data', (2, 4, 6), True]

In [257]:
myList[0] = 20 # trying to change the int value 10 at index 0
print(myList)

[20, 'python', 'dataaa', (2, 4, 6), True]

In [258]:
myList[1] = "python" # trying to change the float value 12.5 at index 1
myList

[20, 'python', 'dataaa', (2, 4, 6), True]

In [259]:
myList[2] = "dataaa" # trying to change the string value data at index 2
myList

[20, 'python', 'dataaa', (2, 4, 6), True]

In [260]:
myList[3][1] = "22222" #changing the item in the list
myList

TypeError: 'tuple' object does not support item assignment

Thankyou