<h2> Python - 6 Mutable Data Structures | Sets

<p><strong>Hello! Everyone, Welcome to Python Tutorial 6</strong> In this video we will discuss about the sets, mutable data structure in Python.
    
With this video we finished discussing data structures in python.</p>

<h2>Topics</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#dic">Sets</a>
            <ul>
                <li><a href="content">What are Sets?</a></li>
                <li><a href="key">Methods and Functions</a></li>
                <li><a href="key">Set Operations</a></li>
            </ul>
        </li>
    </ul>
        
</div>

<hr>

## Sets

1. Sets are an unordered collection of *unique* elements.

In [2]:
# Creating an empty set
# Sets can be constructed using the set() function. 
s1 = set()
print(s1)
type(s1)

set()

set

Unordered collection - Set elements do not have any order 
(so we cannot be sure in which order the items will appear).

Unique elements - Sets cannot have duplicate elements. Python will automatically remove duplicate items:

In [86]:
# Create a set
# We can create a set with a curly bracket <b>{}</b>. 

set1 = {"apple", "orange", "banana", "jack fruit", "orange", "kiwi", "orange", "papaya"}
print(set1)
type(set1)

{'orange', 'banana', 'jack fruit', 'papaya', 'apple', 'kiwi'}

set

Make note that, Eventhough we gave 3 oranges to the set it take only one orange.

In [4]:
# Note that the curly brackets do not indicate a dictionary!
# (We already discussed that dict also created using curly brackets).
# also we cannot create a set using empty curly brackets as it will construct a dictionary.
# Please go through the tutorial 5 to know more about dictionaries. 
# i have given the link in the discription box.

In [26]:
s1 = {}
type(s1)

dict

2. Sets do not support indexing (we cannot access items in a set by referring to an index or a key)

In [6]:
set1[2]

TypeError: 'set' object is not subscriptable

means they are not indexable like a list

3. Sets are mutable, however, only immutable objects can be stored in it.

In [10]:
set2 = {12, 12.4, "ererer", (12,23), [1,2,3,4,5]}
set2

TypeError: unhashable type: 'list'

In [92]:
set2 = {12, 12.4, "ererer", (12,23)}
set2

{(12, 23), 12, 12.4, 'ererer'}

a) Hashable object can only be used as a set member as these hash values are used internally for indexing.

b) An object is hashable if it has a hash value which never changes during its lifetime and can be compared to other objects. 

c) When we hash an object it means that we are running it through some function. 

This function is called a hash function.This hash function gives a unique output for a unique input.

d) All built-in immutable types (numbers, strings and tuples) are hashable,

but mutable ones (list , dict and set) are not hashable.

(this is because we got error when we use list as an element of set, similarly there cannot be a set inside a set.)

In [93]:
set2 = {{12, 12.4},"ererer", (12,23)}
set2

TypeError: unhashable type: 'set'

We already discussed in last video that in dictionary only numbers, strings and tuples can be used as key. 

This is because only hashable objects can be used as a dictionary key.

4. As sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple.

In [14]:
# Converting a list of genres to set
genres = set(["action", "adventure", "crime", "horror", "mystery", "thriller", \
                    "comedy", "fantasy", "science fiction", "drama"])
genres

{'action',
 'adventure',
 'comedy',
 'crime',
 'drama',
 'fantasy',
 'horror',
 'mystery',
 'science fiction',
 'thriller'}

So We can cast a list with multiple repeat elements to a set to get the unique elements.

In [15]:
#set from tuple
t4 = ('Ahmedabad', 'Bengaluru', 'Chennai', 'Delhi', 'Chennai')

s4 = set(t4)
s4

{'Ahmedabad', 'Bengaluru', 'Chennai', 'Delhi'}

In [16]:
#set from string
s6 = set("Mississippi")

print(s6)

{'i', 'p', 'M', 's'}

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) = sum(B)</code>

In [88]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print(A)
print(B)
C = sum(A)
print(C)
D = sum(B)
print(D)

[1, 2, 2, 1]
{1, 2}
6
3

<h3 id="op">Set Methods and Functions</h3>

In [19]:
# a is a Sample set frm a list

a = set(["action", "adventure", "crime", "horror", "mystery"])
a

{'action', 'adventure', 'crime', 'horror', 'mystery'}

1. Once a set is created, we cannot change its elements, but we can add new element using the <code>add()</code> method:

In [20]:
# Add element to set

a.add("Social")
a

{'Social', 'action', 'adventure', 'crime', 'horror', 'mystery'}

 If we add the same element twice, nothing will happen as set has an only unique entry:

let us see what happens when we try to add something more that is already present in a set?

In [27]:
# Try to add duplicate element to the set

a.add("Social")
a

{'Social', 'action', 'adventure', 'crime', 'horror', 'mystery'}

Make a note that it won't add another Social genre in the set, as a set is only concerned with unique elements!

2. To add more than one item to a set use the update() method.

In [5]:
a = {"apple", "banana", "cherry"}

a.update(["orange", "mango", "grapes"])

print(a)

{'banana', 'apple', 'grapes', 'mango', 'cherry', 'orange'}

In [83]:
# + not supported
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print("list C is " , c)

setA = set(a)
setB = set(b)

setC = setA + setB 
setC

list C is  [1, 2, 3, 4, 5, 6]

TypeError: unsupported operand type(s) for +: 'set' and 'set'

3. Check the number of elements in a set

In [9]:
s3 = {1,2,2,'a',5.46, 'a',1,25}
s3

{1, 2, 25, 5.46, 'a'}

In [7]:
# Number of elements
len(s3)

5

4. min, max and sum of elements in a set

In [40]:
s7 = {1, 6, 2.25, 4, 5.46}
print(s7)
print("Minimum of s7 = ", min(s7))

{1, 2.25, 4, 5.46, 6}
Minimum of s7 =  1

In [34]:
print("Maximum of s7 = ", max(s7))

Maximum of s7 =  6

In [35]:
print("Sum of s7 = ", sum(s7))

Sum of s7 =  18.71

 5. We can remove an item from a set using the <code>remove</code> and <code>discard</code> method:

In [42]:
# Remove the element from set

s7.remove(5.46)
s7

{1, 2.25, 4, 6}

If the item to remove does not exist, remove() will raise an error.

In [43]:
s7.remove(5.46)
s7

KeyError: 5.46

6. If the item to remove does not exist, discard() will NOT raise an error.

In [45]:
s7.discard(5.46)
s7

{1, 2.25, 4, 6}

7. We can also use the pop() method to remove an item.

pop() method will remove the last item. As sets are unordered, we will not know which item gets removed.

We can get the removed item using the return value.

In [46]:
set8 = {"apple", "banana", "cherry"}

x = set8.pop()

print(x)

print(set8)

apple
{'cherry', 'banana'}

8. The clear() method empties the set:

In [47]:
set8 = {"apple", "banana", "cherry"}

set8.clear()

print(set8)

set()

set8 becomes an empty set now

9. The del keyword will delete the set completely:

In [10]:
print(set8)

del set8

print(set8)

NameError: name 'set8' is not defined

10. Sorting a set can be done using sorting function

In [53]:
s12 = {9, 2, 5, 4, 1, 7}
sorted(s12)

[1, 2, 4, 5, 7, 9]

11.  We can verify if an element is in the set using the <code>in</code> and <code>not in</code> operators:

in and not in operators result in boolean outcome

In [57]:
print(4 in s12) 
print(1 not in s12)

True
False

<h3 id="logic">Sets Logic Operations</h3>

We can perform common math operations like unions and intersections with sets.

We can also check the difference & symmetric difference between the sets.

 Consider the following two sets:

In [96]:
# Two sets contained spider man movies list
set1 = set(["Spider-Man", 'Spider-Man 2', 'Spider-Man 3', 'The Amazing Spider-Man'])
set2 = set(['The Amazing Spider-Man', "Homecoming", "Far From Home", 'Spider-Man 3'])

<img src="sets1.png" />

In [97]:
# Print two sets
set1, set2

({'Spider-Man', 'Spider-Man 2', 'Spider-Man 3', 'The Amazing Spider-Man'},
 {'Far From Home', 'Homecoming', 'Spider-Man 3', 'The Amazing Spider-Man'})

As both sets contain the movies <b>Spider-Man 3</b> and <b>The Amazing Spider-Man</b> we used to represent these common elements with the intersection of two circles.

<img src = "intersection.png" />

1. We can find these intersect of two sets using <code>&</code>:

In [98]:
# To Find the intersections
s1 = set1 & set2
s1

{'Spider-Man 3', 'The Amazing Spider-Man'}

<img src="setintersection.png">

 This corresponds to the intersection of the two circles and we get the movies that commenly available in both the sets.

We can also find the intersection of <code>set1</code> and <code>set2</code>, using the <code>intersection</code> method:

In [99]:
# Use intersection method to find the intersection 
s2 = set1.intersection(set2)   
print(s2)

{'The Amazing Spider-Man', 'Spider-Man 3'}

2. using  <code>difference</code> method, we can find all the elements that are only available in <code>set1</code> but not in <code>set2</code>

In [64]:
# To Find the elements in set1 but not set2
set1.difference(set2)

{'Spider-Man', 'Spider-Man 2'}

<img src="setdiff.png">

if we change the sets we get the elements in <code>set2</code> but not in <code>set1</code>

In [29]:
set2.difference(set1)

{'Far From Home', 'Homecoming'}

<img src = "setdiff1.png">

3. The union corresponds to all the elements in both sets which is represented as below.

<img src = "union.png" >

 The union is given by:

In [67]:
# To Find the union of two sets using union method
set1.union(set2)

{'Far From Home',
 'Homecoming',
 'Spider-Man',
 'Spider-Man 2',
 'Spider-Man 3',
 'The Amazing Spider-Man'}

In [69]:
# Example on Union of 3 sets
s1 = {1,2,3}
s2 = {3,5,8}
s3 = {7,4,5}

print(s1.union(s2))
print(s1.union(s2).union(s3))

{1, 2, 3, 5, 8}
{1, 2, 3, 4, 5, 7, 8}

In [70]:
# union using pipe symbol
print(s1 | s2)
print(s1 | s2 | s3)

{1, 2, 3, 5, 8}
{1, 2, 3, 4, 5, 7, 8}

4. Symmetric difference

In [76]:
# Symmetric Difference
# returns Elements that are in either one of the set, but not in both
s1 = {1,2,3}
s2 = {3,5,8}
print(s1.symmetric_difference(s2))
print(s1 ^ s2)

{1, 2, 5, 8}
{1, 2, 5, 8}

5. And we can check if a set is a superset or subset of another set using issuperset() and issubset()

In [79]:
# Check if superset

s1.issuperset(s2)

False

In [80]:
# Check if subset

s1.issubset(s2)

False

Here is an example where <code>issubset()</code> and <code>issuperset()</code> return true:

In [81]:
# Check if subset
set1 = set(["Spider-Man", 'Spider-Man 2', 'Spider-Man 3', 'The Amazing Spider-Man'])
set({"Spider-Man", "Spider-Man 2"}).issubset(set1)

True

In [82]:
# Check if superset

set1.issuperset({"Spider-Man", "Spider-Man 2"})

True

That is all in this video, in next video we will discuss about conditions. So please subscribe my channel and click the notification icon and if you like the content please hit the like button and share with your friends.

Thankyou.