<h1>Loops in Python</h1>

<p><strong>Hello! Everyone, Welcome to Python Tutorial 8</strong> In this video we will discuss about loops in Python Programming Language.
    
We will discuss in detail about how to use the loop statements, including for loop, and while loop.</p>

<h2 id="loop">What are Loops</h2>

Sometime we want to execute a particular task over and over again.

Repeated executions like this are performed by <b>loops</b>.

<h3 id="range">Range</h3>

Before we discuss loops lets discuss the <code>range</code> object as range() is commonly used in  looping. 

The range function outputs ordered sequence. 

The sequence starts at zero and contains the number of elements same as the input.

if the input is three the output is the sequence zero, one, two. (range(3) = [0, 1, 2])

In [2]:
range(3)

range(0, 3)

If the range function has two inputs , the output is a sequence that starts at the first input. 

Then the sequence iterates up to second number, but not including the second number. 

For the input 5 and 10 we get the following sequence.

In [6]:
range(5, 10)

range(5, 10)

We will understand the use of range exactly when discussing the <code>for loop</code>

<h3 id="for"><code>for</code> loop</h3>

In [ ]:
for loop is called as counter-controlled loop

#syntax

for x in range(start, end, step):
    statement
    statement
    statement

In [68]:
# 10 is the end number (not inclusive)
# start - defaults to 0
# step - defaults to +1
# end is a parameter for print function which supresses \n (new line character)

for i in range(10): #0,1,2,3....,9
    print(i, end = ' ')
    
print("\nEnd of for loop")

0 1 2 3 4 5 6 7 8 9
End of for loop

In [9]:
# start = 5
# end = 10 (but excluding 10)
# step = 1

for i in range(5, 10): #5,6,7,8,9
    print(i, end=' ')
    
print()

5 6 7 8 9

In [7]:
# start = 5
# end = 10 (but excluding 10)
# step = 2

for i in range(4, 10, 2): #4,6,8
    print(i, end=' ')
    
print()

4 6 8

In [19]:
#Create a sequence of numbers from 3 to 5, and print each item in the sequence:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [24]:
# another example
years = [2020,2021,2022]
for i in years:
    print(i)

2020
2021
2022

The code in the indent is executed <code>n</code> times and

each time the value of <code>i</code> is increased by 1 . 

Every time the <code>print</code> statement executed & print out the value in the list years at index <code>i</code> 

For each iteration, the value of the variable <code>i</code> behaves like the value of years[i]

In [25]:
#          0   1     2
years = [2020,2021,2022]
n = len(years)
for i in range(n):
    print(i, end = ' ')
    print(years[i])

0 2020
1 2021
2 2022

In [27]:
# Example of for loop
#print 0 to 7
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [28]:
# <code>for</code> loop the prints out all the element between 
# <b>-5</b> and <b>5</b> using the range function.
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [30]:
Genres = [ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [31]:
# Nested Loop
# Loop inside a loop
# code to build a multiplication table

for i in range(1,11): #1,2,...,10 # Outer loop # Rows
    for j in range(1,11):  #Inner loop # columns
        print("%4d" %(i * j), end=' ')
    print()
    
## For each value of the outloop repeat the inner loop 
# For i = 1, j will be executed 10 times(1 to 10)
# For i = 2, j will be executed 10 times(1 to 10)

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

We can change the elements in a list:

In [39]:
# Use for loop to change the elements in list

colors = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    colors[i] = colors[i] + 'Color'
print(colors)

['redColor', 'yellowColor', 'greenColor', 'purpleColor', 'blueColor']

In [40]:
# Loop through the list and iterate on both index and element value

colors=['red', 'yellow', 'green', 'purple', 'blue']

for i, color in enumerate(colors):
    print(i, color)

0 red
1 yellow
2 green
3 purple
4 blue

#### Enumerate()

A lot of times when dealing with iterators, we need to keep a count of iterations (no of items in the iterators.

In Python the built-in function enumerate() helps this task.

The enumerate() function takes a collection (e.g. a tuple or a list), adds a counter as the key and returns it as an enumerate object.

#### Iterator

<code> An iterator is an object that contains a countable number of values.</code>

<code>An iterator is an object that can be iterated upon, meaning that we can loop through all the values</code>

#### Syntax

<code>enumerate(iterable, start=0)</code>

iterable - a sequence, an iterator, or objects that supports iteration

start – position in the iterator from where the counting starts.Default is 0.

#### Return Type

Enumerate function returns an object by adding the iterating counter value to it. 

This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [72]:
days= ['Mon', 'Tue', 'Wed','Thu']
enum_days = enumerate(days)
print(type(enum_days))

# converting it to alist
print(list(enum_days))

# changing the default counter to 5
enum_days = enumerate(days, 5)
print(list(enum_days))

<class 'enumerate'>
[(0, 'Mon'), (1, 'Tue'), (2, 'Wed'), (3, 'Thu')]
[(5, 'Mon'), (6, 'Tue'), (7, 'Wed'), (8, 'Thu')]

#### Advantages of using Enumerate

Enumerate allows us to loop through a list, tuple, dictionary, string, and gives the values along with the index.

To get index value using for-loop, we can make use of list.index(n). 

But, list.index(n) is very expensive as it will traverse the for-loop twice. 

Enumerate is very helpful in such a case as it gives the index and items at one go.

<h3 id="while"><code>while</code> loop</h3>

In [ ]:
While loop is also called as condition-controlled loop

while <Condition>:
   perform statements
   statement-2
   make sure you set the condition to be false

#### Why while loop

The <code>for</code> loop is used for a controlled flow of repetition.

<code>what if we do not know when to stop the loop?</code>

<code>What if we want to keep executing a block of until a certain condition is met?</code> 

The <code>while</code> loop exists as a tool for repeated execution based on a condition. 

The code block will keep executed until the given logical condition returns a **False** .

In [73]:
# loop through a list <code>years</code> and stop at the year 1973
# then print out the number of iterations. 
#          0     1     2     3
years = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = years[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [42]:
#simpel exapmle 1
i = 0
while (i < 5):
    print(i)
    i += 1

0
1
2
3
4

In [43]:
#simpel exapmle 2
i = 2
while (i < 15):
    print(i, end=' ')
    i += 4
    
print()

2 6 10 14

In [44]:
#simpel exapmle 3
i = -2
while (i > -10):
    print(i, end=' ')
    i -= 3
    
print()

-2 -5 -8

#### Comparision between a while and a for loop

In [ ]:
1) Initialize variable (i=5) - One time execution
2) Check the condition (i < 15)
3) Execute statements  (printing i)
4) Increment/decrement the counter (i += 3) - go back to step 2

In [44]:
i = 5
while (i < 15):
    print(i, end=' ')
    i += 3

print()

5 8 11 14

In [45]:
# start = 5
# end = 15 (not inclusive)
# step = 3

for i in range(5, 15, 3): #5, 8, 11, 14
    print(i, end=' ')

print()

5 8 11 14

#### Break and Continue Statment

In [46]:
# Break statement breaks out of the loop completely
# Continue breaking out of the current iteration

i = 5

while(i < 15):
    print(i, end =' ')
    
    if (i == 10):
        break
        
    i += 1

5 6 7 8 9 10

In [47]:

i = 5

while (i < 15):
    if (i == 10):
        i += 1
        continue
    print(i, end =' ')
    i += 1

5 6 7 8 9 11 12 13 14

<hr>

<h3>Looping through different sequences</h3>

#### Dictionaries

In [50]:
employees = {'1111' : "James", '2222' : "Lucy", '3333' : "Robert", '4444' : "Kelly"}

In [51]:
for key in employees:
    print(key)

1111
2222
3333
4444

In [52]:
for key in employees:
    print(key, " : ", employees[key])

1111  :  James
2222  :  Lucy
3333  :  Robert
4444  :  Kelly

In [53]:
for key in employees.keys():
    print(key)

1111
2222
3333
4444

In [54]:
for value in employees.values():
    print(value)

James
Lucy
Robert
Kelly

In [55]:
for item in employees.items():
    print(item)

('1111', 'James')
('2222', 'Lucy')
('3333', 'Robert')
('4444', 'Kelly')

In [56]:
for item in employees.items():
    print(item[0], ' : ', item[1])

1111  :  James
2222  :  Lucy
3333  :  Robert
4444  :  Kelly

#### Strings

In [57]:
#    -43210987654321
s1 = "This is a Game"
#     01234567890123

for i in range(len(s1)): #0,14,1
    print(s1[i], end=' ')

print()

T h i s   i s   a   G a m e

In [58]:
for i in range(-1, -len(s1)-1, -1):
    print(s1[i], end=' ')
    
print()

e m a G   a   s i   s i h T

In [59]:
for i in range(1, len(s1), 3):
    print(s1[i], end=' ')
    
print()

h     G e

In [60]:
# String is a sequence object
# Looping through a String without using its index

for x in s1:
    print(x, end=' ')
    
print()

T h i s   i s   a   G a m e

In [61]:
i = -len(s1) #14

while (i <= -1):
    print(i, " : ", s1[i])
    
    i += 1
    
print()

-14  :  T
-13  :  h
-12  :  i
-11  :  s
-10  :
-9  :  i
-8  :  s
-7  :
-6  :  a
-5  :
-4  :  G
-3  :  a
-2  :  m
-1  :  e

#### Tuples

In [61]:
colorTuple = ('red', 'yellow', 'green', 'purple', 'blue')

In [62]:
for i in range(len(colorTuple)):
    print(colorTuple[i])

red
yellow
green
purple
blue

In [63]:
for x in colorTuple:
    print(x)

red
yellow
green
purple
blue

#### list

In [64]:
colorList = ['red', 'yellow', 'green', 'purple', 'blue']

In [65]:
for i in range(len(colorList)):
    print(colorList[i], end=' ')
print()

red yellow green purple blue

In [66]:
for i in range(-1, -len(colorList)-1, -1):
    print(colorList[i], end=' ')
    
print()

blue purple green yellow red

### Thankyou